@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-red-200{
  background-color: rgba(255,0,0,0.2);
}

.bg-blue-200{
  background-color: rgba(0,0,255,0.2);
}

.bg-red-300{
  background-color: rgba(255,0,0,0.3);
}

.text-red-700{
  color: rgba(255,0,0,0.7);
}

.text-blue-700{
  color: rgba(0,0,255,0.7);
}

.text-red-800{
  color: rgba(255,0,0,0.8);
}

.text-blue-800{
  color: rgba(0,0,255,0.8);
}

.border-red-500{
  border: 1px solid rgba(255,0,0,0.5);
}

.border-blue-500{
  border: 1px solid rgba(0,0,255,0.5);
}